doctype html
html
  include includes/head.pug
  body
    h1(
      align="center"
      font-family="monospace"
      ) cursedimages.rest
    br
    button(
      class="vertical-center"
      onclick='refresh()'
      ) Refresh
    br
    -var img = inp
    img(
      src=img
      class="center"
      class="container"
      )
    br
  include includes/footer.pug