doctype html
html
  head
    style
      include style.css
    script
      include script.js
    title= "are you nuts"
  body
    button(
      onclick='refresh()'
      class="center"
      ) Refresh
    -var img = inp
    img(
      src=img
      class="center"
      )